html,
body {
  overflow-x: hidden !important; /* Prevent horizontal overflow */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default paddings */
}
.discount-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.banner-content {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  height: 100%; /* Ensure the container height allows vertical centering */
  background-color: black; /* Makes the background black */
  height: 300px; /* Adjust height as needed */
  text-align: center; /* Align text if necessary */
}

.banner-image-discount {
  width: 100%; /* Default for smaller screens */
  max-width: 300px; /* Adjust as needed for smaller screens */
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 768px) {
  .banner-content {
    height: 400px; /* Adjust height for larger screens */
  }

  .banner-image-discount {
    max-width: 350px; /* Larger size for desktops */
    height: auto; /* Maintain aspect ratio */
  }
  .animation-container{
    margin-bottom: 50px !important;
    margin-top: 50px !important;
  }
}
