.frames-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.frames-banner {
  position: relative;
  background-color: black;
  color: white;
  width: 100%;
  overflow: hidden; /* Ensure that the content doesn't overflow during the animation */
}

.banner-content2 {
  display: flex; /* Enable Flexbox */
  flex-direction: row-reverse; /* Ensure the text is on the right */
  align-items: center; /* Vertically align items */
  justify-content: center; /* Ensure proper spacing */
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px; /* Add space between the image and text */
}

.banner-image2 {
  width: 100%; /* Adjust the image size */
  height: auto;
  opacity: 0; /* Start with image hidden */
  transform: translateX(-100%); /* Start image off-screen */
  animation: slideInLeft 1s forwards 0.5s; /* Slide in with delay */
}

.banner-text2 {
  position: absolute; /* Position text relative to the banner */
  top: 0%; /* Position near the top (adjust as needed) */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for perfect horizontal centering */
  text-align: center; /* Align text content to the center */
  direction: rtl; /* Ensure proper Hebrew text flow */
  color: white; /* Ensure visibility over the image */
  z-index: 2; /* Ensure text appears above the image */
}

.banner-text2 h1 {
  font-size: 2em;
  margin-bottom: 8px;
  font-family: "Noto Sans Hebrew", sans-serif;
}

.banner-text2 p {
  font-size: 1em;
  font-family: "Noto Sans Hebrew", sans-serif;
}
/* Keyframes for sliding in from the left */
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0); /* Move to the original position */
  }
}

.frames-products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  padding-top: 0px;
  position: relative; /* Ensure that the no-products message is positioned correctly */
}

.product-skeleton {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.no-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Take full width */
  grid-column: 1 / -1; /* Span across both columns */
}

.no-products {
  font-size: 1.2em;
  color: #333;
  font-family: "Noto Sans Hebrew", sans-serif;
  text-align: center;
  direction: rtl;
}

@media (max-width: 380px) {
  .frames-products-container {
    margin-right: 40px;
  }
}
@media (max-width: 760px) {
  .frames-products-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    width: 100%;
  }
}
