.frames-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.frames-banner {
  background-color: black;
  color: white;
  width: 100%;
  padding: 15px 0;
  overflow: hidden; /* Ensure that the content doesn't overflow during the animation */
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

.banner-image {
  width: 170px;
  height: auto;
  margin-right: 15px;
  border-radius: 8px;
  opacity: 0; /* Start with image hidden */
  transform: translateX(-100%); /* Start image off-screen */
  animation: slideInLeft 1s forwards 0.5s; /* Slide in with delay */
}

.banner-text {
  max-width: 500px;
  text-align: right;
  direction: rtl;
  opacity: 0; /* Start with text hidden */
  transform: translateX(-100%); /* Start text off-screen */
  animation: slideInLeft 1s forwards; /* Slide in without delay */
}

.banner-text h1 {
  font-size: 2em;
  margin-bottom: 8px;
  font-family: "Noto Sans Hebrew", sans-serif;
}

.banner-text p {
  font-size: 1em;
  font-family: "Noto Sans Hebrew", sans-serif;
}

/* Keyframes for sliding in from the left */
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0); /* Move to the original position */
  }
}

.frames-products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  padding: 20px;
  max-width: 1200px;
  padding-top: 0px;
}

.product-skeleton {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

@media (max-width: 380px) {
  .frames-products-container {
    margin-right: 40px;
  }
}
