.payment-success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f0f0f0;
  direction: rtl;
  flex-direction: column; /* Stack items vertically */
}

.success-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  max-width: 400px;
}

.success-message-container {
  margin-bottom: 20px;
}

.success-message-title {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  font-family: "Noto Sans Hebrew", sans-serif;
}

.delivery-info {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
  font-family: "Noto Sans Hebrew", sans-serif;
}

.success-message-text {
  font-size: 16px;
  color: #777;
  font-family: "Noto Sans Hebrew", sans-serif;
}

.payment-animation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-circle {
  stroke-dasharray: 406;
  stroke-dashoffset: 406;
  animation: circle-animation 1s ease-in-out forwards;
}

.success-tick {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: tick-animation 0.8s ease-out forwards;
  animation-delay: 0.9s;
}

@keyframes circle-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes tick-animation {
  to {
    stroke-dashoffset: 0;
  }
}

/*Fail CSS*/
/* Add these styles to your existing PaymentSuccessPage.css file */

/* Error-specific styles for payment failed page */
.success-box.error {
  background-color: #fff8f8;
  border: 1px solid #ffebeb;
  width: 90%;
  height: 80%;
  margin-bottom: 100px;
  /* margin-top: -10px; */
}

.success-message-title {
  color: #333;
  font-size: 16px;
}

.error .success-message-title {
  color: #d32f2f;
  font-size: 16px;
}

/* Animation for the error X */
@keyframes drawCircle {
  from {
    stroke-dasharray: 410;
    stroke-dashoffset: 410;
  }
  to {
    stroke-dasharray: 410;
    stroke-dashoffset: 0;
  }
}

@keyframes drawX {
  from {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
  }
  to {
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
  }
}

.error .success-circle {
  stroke-dasharray: 410;
  stroke-dashoffset: 0;
  animation: drawCircle 1s ease-out forwards;
}

.error .success-tick {
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  animation: drawX 0.5s ease-out 0.5s forwards;
}
