.page-title {
  text-align: center; /* Center the text */
  justify-content: center;
  display: flex;
  margin-bottom: 30px; /* Add margin between title and products */
  margin-top: 30px;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 36px;
}
.products-wrapper {
  display: flex;
  justify-content: center; /* Center the products horizontally */
  margin-bottom: -40px;
}

.pagination {
  margin-top: 80px;
  margin-bottom: 20px; /* Add margin to the bottom for spacing */
  justify-content: center; /* Center the pagination controls horizontally */
  display: flex; /* Ensure the pagination controls are displayed as flex items */
  font-family: Arial, Helvetica, sans-serif;
}

.pagination-btn {
  padding: 0px 20px; /* Add padding to the buttons */
  background-color: #fff; /* Button background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px; /* Add margin between buttons */
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.page-number {
  padding: 8px 12px; /* Add padding to the page numbers */
  background-color: #fff; /* Button background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 3px; /* Add margin between page numbers */
}

.page-number.active {
  background-color: #000000; /* Active page number background color */
  color: #fff;
}
@media screen and (max-width: 680px) {
  .page-title {
    justify-content: left;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 30px;
  }
  .pagination {
    padding: 15px;
    /* margin-top: 20px; */
    justify-content: center; /* Center the pagination controls horizontally */
    display: flex; /* Ensure the pagination controls are displayed as flex items */
    font-family: Arial, Helvetica, sans-serif;
  }
  .products-wrapper {
    display: flex;
    justify-content: left;
    margin-bottom: -40px;
  }
}
@media screen and (max-width: 515px) {
  .pagination {
    margin-top: 40px;
  }
}
