/* ProductDetailPage.css */
.product-detail-page-wrapper {
  position: fixed;
  left: 0;
  top: 50%;
  width: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  height: calc(100vh - 250px);
  display: flex;
}
.product-detail-page-container {
  padding: 30px;
}

.product-detail-container {
  display: flex;
}

.product-detail-image-container {
  width: 350px; /* Set a fixed width for the container */
  height: 400px; /* Set a fixed height for the container */
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Drop shadow for the container */
  margin-right: 40px;
}

.product-detail-image {
  max-width: 100%; /* Allow the image to scale within the container */
  max-height: 100%; /* Allow the image to scale within the container */
}

.product-detail-info {
  flex: 1;
  margin-top: 30px;
}
.product-detail-name {
  font-size: 1.5em; /* Adjust font size for the name */
  color: #333; /* Set color for the name */
}
.product-detail-price {
  font-size: 1.2em; /* Adjust font size for the price */
  color: #0faf44; /* Set color for the price */
  margin-top: 120px; /* Add margin between name and price */
}
.product-detail-description {
  margin-top: 150px; /* Add margin between price and description */
  font-size: 1em; /* Adjust font size for the description */
  color: #666; /* Set color for the description */
  line-height: 1.4; /* Set line height for better readability */
}
.product-detail-colors {
  margin-top: 10px; /* Add margin between price and color rectangles */
}
.color-rectangle {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  cursor: pointer; /* Add cursor pointer to indicate clickable */
  border-radius: 5px;
}
.color-rectangle.selected {
  border-color: #007bff; /* Change border color when selected */
}
.color-name {
  font-size: 1em; /* Adjust font size for color names */
  color: #333; /* Set color for color names */
}
.color-name.selected {
  color: #007bff; /* Change text color when selected */
}
/*RIGHT SIDE OF THE PAGE*/
.order-details-container {
  flex: 1;
  width: 50%;
  background-color: #333;
}

.order-details {
  /* Add styling for your order details component */
}
.product-detail-container,
.order-details-container {
  width: 50%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 20px; /* Add padding to the containers */
}
