.product-detail-page {
  display: flex; /* Use flexbox to layout children */
}

.product-details-column {
  flex: 8; /* Make ProductOverview take up remaining space Change to 7 for 70%*/
  padding-right: 20px; /* Add some space between columns */
}

.order-details-column {
  flex: 3; /* Make OrderDetails take up remaining space */
}
