@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(300deg);
  }
}

.gradient {
  --size: 235px;
  --speed: 7s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 40% 70% 70% 40% / 40% 40% 70% 70%;

  /* Center the element */
  position: fixed;
  top: calc(55% - var(--size) / 2);
  left: calc(52% - var(--size) / 2);
  transform: translate(-50%, -50%);
}
