@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(300deg);
  }
}

.gradient {
  --size: 240px;
  --speed: 7s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(45, 80%, 47%), hsl(45, 66%, 63%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  /* Center the element */
  position: absolute;
  top: 43%;
  left: 25%;
  transform: translate(-50%, -50%);
}

@media (min-width: 720px) {
  .gradient {
    --size: 100px;
  }
}

/* This is just to transition when you change the viewport size. */
* {
  transition: all 0.05s ease-out;
}
